.grid{
    display:grid;
    grid-template-columns:2fr 1fr;
    grid: 20px;
}
header{
    grid-column: 2/2;
}
aside{
    grid-column: 2;
    grid-row: 3;
}
article{
    grid-column: 3;
    grid-row: 1;
}
footer{
    grid-column: 2/1;
    grid-row: 1;
}
.grid div{
    border: 1px solid rgb(0, 95, 107);  
    border-radius: 3px;
    background-color: rgba(0, 95, 107, 0.8);
    padding: 0.2em;
    color: #fff;
    font-kerning: 220px
}